<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension   
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Action Set"
            visible="true"
            id="swr.actionSet">
         <menu
               label="SWRefactor"
               id="sampleMenu">
            <separator
                  name="huaweiGroup">
            </separator>
         </menu>
         <action
               class="swr.actions.combine.CombineAction"
               icon="icons/1.png"
               tooltip="Combine"
               id="swr.actions.combine.CombineAction"
               label="&amp;Combine"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup">
         </action>
         <action
               class="swr.actions.combine.manuallabel.CalculateManualLabeledAction"
               icon="icons/2.png"
               tooltip="Manual"
               id="swr.actions.combine.manuallabel.CalculateManualLabeledAction"
               label="&amp;Manual"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup">
         </action>
         <action
               class="swr.actions.combine.DetailsCalculator"
               icon="icons/3.png"
               tooltip="Details"
               id="swr.actions.combine.DetailsCalculator"
               label="&amp;Details"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup">
         </action>
      </actionSet>
   </extension>
   <!--builder-->
   
   <extension point="org.eclipse.ui.editors">
	  <editor 
	        name="EditoAction"
	        icon="icons/sample.gif"
	        class="swr.actions.EditorAction"
	        id="swr.actions.EditorAction">
	  </editor>
	</extension>
	
   <extension-point id="metrics" name="metrics" schema="schema/SWRefactor.metrics.exsd"/>
   <extension-point id="exporters" name="exporters" schema="schema/exporters.exsd"/>
   
    <extension 
    id="mynature" 
    name="My Nature" 
    point="org.eclipse.core.resources.natures"> 
      <runtime> 
         <run class="edu.bit.cs.swr.actions.Swrnatures"/> 
      </runtime> 
      <builder id="edu.bit.cs.swr.actions.mybuilder"/> 
   </extension> 
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Metrics Preferences"
            class="swr.metrics.ui.preferences.MetricsPreferencePage"
            id="swr.metrics.ui.MetricsPreferencePage">
      </page>
      <page
            name="NORM"
            category="swr.metrics.ui.MetricsPreferencePage"
            class="swr.metrics.ui.preferences.NORMPreferencePage"
            id="swr.metrics.norm">
      </page>
      <page
            name="LCOM*"
            category="swr.metrics.ui.MetricsPreferencePage"
            class="swr.metrics.ui.preferences.LCOMPreferencePage"
            id="swr.metrics.lcom">
      </page>
      <page
            name="Safe Ranges"
            category="swr.metrics.ui.MetricsPreferencePage"
            class="swr.metrics.ui.preferences.RangePage"
            id="swr.metrics.rangeeditor">
      </page>
      <page
            name="XML Export"
            category="swr.metrics.ui.MetricsPreferencePage"
            class="swr.metrics.ui.preferences.XMLExportPage"
            id="swr.metrics.xmlexport">
      </page>
      <page
            name="Colors"
            category="swr.metrics.ui.MetricsPreferencePage"
            class="swr.metrics.ui.preferences.ColorPreferencePage"
            id="swr.metrics.colors">
      </page>
   </extension>
   <extension
         id="outofrangemarker"
         name="MetricsOutOfRangeMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <attribute
            name="metric">
      </attribute>
      <attribute
            name="value">
      </attribute>
      <persistent
            value="true">
      </persistent>
   </extension>

   <extension
         point="SWRefactor.exporters">
      <exporter
            name="Metrics flat"
            namespace="http://metrics.sourceforge.net/2003/Metrics-First-Flat"
            description="exports each metric with a flat list of values for the appropriate descendants"
            class="swr.metrics.internal.xml.MetricsFirstExporter">
      </exporter>
      <exporter
            name="Windows Compliant"
            namespace="http://metrics.sourceforge.net/2003/Metrics-First-Flat"
            description="exports each metric with a flat list of values for the appropriate descendants compatible with windows naming schema"
            class="swr.metrics.internal.xml.WinCompliantExporter">
      </exporter>
      <exporter
            name="Source tree"
            namespace="http://metrics.sourceforge.net/2003/Source-hierarchical"
            description="exports the selected element and its subtree, with metrics at each level"
            class="swr.metrics.internal.xml.XMLSourceTreeExporter">
      </exporter>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="swr.metrics.core.MetricsPreferenceInitializer"/>
   </extension>   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <viewShortcut id="swr.metrics.ui.MetricsView"/>
         <viewShortcut id="swr.metrics.ui.layeredpackagegraph.LayeredPackageTableView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaBrowsingPerspective">
         <viewShortcut id="swr.metrics.ui.MetricsView"/>
         <viewShortcut id="swr.metrics.ui.layeredpackagegraph.LayeredPackageTableView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
         <viewShortcut id="swr.metrics.ui.MetricsView"/>
         <viewShortcut id="swr.metrics.ui.layeredpackagegraph.LayeredPackageTableView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="SWRefactor.swr.perspective.RefactorPerspective"
            icon="icons/"
            id="SWRefactor.swr.perspective.perspective"
            name="RefactorPerspectives">
      </perspective>
      <perspective
            class="SWRefactor.swr.perspective.DeBugsPerspective"
            id="SWRefactor.swr.perspective.DeBugsPerspective"
            name="DebugPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="SWRefactor.contribution1"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <menu
               id="SWRefactor.menu1"
               label="Show Metrics"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
      <!--   <action
               class="swrefactor.popup.actions.MetricDemonstrateAction"
               enablesFor="1"
               id="SWRefactor.newAction"
               label="Show Metrics"
               menubarPath="SWRefactor.menu1">
         </action>	-->
         </objectContribution>
         
         
         <objectContribution
            id="SWRefactor.contribution2"
            objectClass="org.eclipse.core.runtime.IAdaptable">
         <menu
               id="SWRefactor.menu2"
               label="Detect Full defects"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
      </objectContribution>
   </extension>
	
</plugin>
